header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header div ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
    padding-right: 100px;
}
header div ul li{
    list-style-type: none;
}